@{
    string user = Request["name"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/task.css">
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="addtask">
                Welcome @user
                <input id="taskContent" type="text" placeholder="Enter a task" />
                <button id="saveButton">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="tasks">

            </div>
            <button id="clearButton">Clear</button>
        </div>
        <div class="row slider close">
            <form id="contactPost" method="post">
                <div class="formInputs">
                    <input type="email" id="email" class="formInput" name="email" placeholder="Email" />
                    <input type="text" id="name" class="formInput" name="name" placeholder="Name" />
                    <input type="textbox" id="message" class="formInput" name="message" placeholder="Message" />
                    <input type="submit" name="submit" value="Submit" id="submit">
                </div>
            </form>
        </div>
        <button class="trigger">Contact</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
